<!DOCTYPE html>
<html>
  <head>
    <title>All Students</title>
  </head>
  <body>
    <h1>All Students</h1>
    <ul>
      <% students.forEach(student => { %>
      <li>
        <%= student.username %> - <%= student.branch %> - <%= student.semester
        %>
        <a href="/update-student/<%= student._id %>">Update</a>
        <a
          href="/delete-student/<%= student._id %>"
          onclick="return confirm('Are you sure?')"
          >Delete</a
        >
      </li>
      <% }) %>
    </ul>
    <br />
    <a href="/">Go Back</a>
  </body>
</html>
